/*########################## CSS RESET ##########################*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ############################ FONTS ###########################*/
@font-face{
  font-family: Unna;
  src: url(../fonts/CalibreWeb-Regular.woff2)
}
@font-face{
  font-family: UnnaBold;
  src: url(../fonts/CalibreWeb-Semibold.woff2)
}

/* ########################### NAV BAR ##########################*/
.navBar {
  list-style-type: none;
  margin-right: 2px;
  padding: 0;
  overflow: hidden;

}
.navBarContents {
  margin-top: 10px;
  margin-right: 10px;
  float: right;
  position: inherit;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 3px;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold
}
li a:hover:not(.active) {
  color: black;
}
li a:hover.active {
  color: black;
  border-bottom: 3px solid black;
}
li a.active {
  color: black;
  border-bottom: 3px solid black;
}

/* ########################### HEADER ###########################*/
.header {
    background: url("../img/home\ background.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    object-position: 50% 50%;
    object-position: 100 100;
    height: 50%;
    position: relative;
    margin-top: 0px;
}
.homeHeader {
    font-family: Courier;
    text-align: center;
    color: black;
    font-weight: 900;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.titleLine {
    max-width: 80px;
    margin: 150px auto;
    border-width: 3px;
    
    border-color: black;
    border-top: 0px solid black;
    border-left: 0px solid black;
}
.home {
    font-family: Courier;
    text-align: center;
    color: black;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (min-width:0px) {
  .homeHeader {
    font-size: 22px;
  }
  .home {
    font-size: 20px;
  }
  .navBarContents {
    margin-top: 1px;
    margin-right: 2px;
  }
  li a {
    font-size: 10px;
  }
}
@media (min-width:300px) {
  .homeHeader {
    font-size: 40px;
  }
  .home {
    font-size: 25px;
  }
  .navBarContents {
    margin-top: 10px;
    margin-right: 10px;
  }
  li a {
    font-size: 13px;
  }
}
@media (min-width:700px) {
  .homeHeader {
    font-size: 50px;
  }
  .home {
    font-size: 30px
  }
  li a {
    font-size: 20px;
  }
}
@media (min-width:900px) {
  .homeHeader {
    font-size: 60px;
  }
  .home {
    font-size: 35px;
  }
}

@media (min-width:1200px) {
  .homeHeader {
    font-size: 70px;
  }
  .home {
    font-size: 40px;
  }
}

/* ########################### CONTENT ##########################*/
.container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
}
/*About*/
.about {
  width: 45%;
  float: left;
}
.aboutHeader {
  font-family: UnnaBold;
  font-weight: bold;
  font-size: 30px;
  color: Black;
}
.aboutContent{
  font-family: Unna;
  font-size: 16px;
  text-align: justify;
}
/*Services*/
.services {
  width: 45%;
  float: right;
}
.servicesHeader {
  font-family: UnnaBold;
  font-weight: bold;
  font-size: 30px;
  color: Black;
}
.servicesContent {
  font-family: Unna;
  font-size: 16px;
  text-align: justify;
}
.servicesList{
  margin-left: 20px;
}

@media (max-width:755px) {
  .about{
    width: 100%;
  }
  .services{
    float: none;
    display: block;
    width: 100%;
    clear: both;
    padding: 30px 0px 10px 0px;
  }
}

/* ########################### GALLERY ##########################*/
.examples {
  margin-left: 10%;
  margin-right: 10%;
  clear: both;
  width: inherit;
  height: auto;
  position: static;
  padding: 30px 0px 10px 0px;
  /*text-align: center;*/
}
.examplesHeader {
  font-family: UnnaBold;
  font-weight: bold;
  font-size: 30px;
  color: Black;
  text-align: left;
}
.examplesContent {
  font-family: Unna;
  font-size: 16px;
  text-align: justify;
}
.examplesList{
  margin-left: 20px;
}
#img1 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width:100%;
  max-width:300px;
  max-height: 225px;
  display: inline-block;
}
#img1:hover {opacity: 0.7;}
#img2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width:100%;
  max-width:300px;
  max-height: 225px;
  display: inline-block;
}
#img2:hover {opacity: 0.7;}
#img3 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width:100%;
  max-width:300px;
  max-height: 225px;
  display: inline-block;
}
#img3:hover {opacity: 0.7;}
#img4 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width:100%;
  max-width:300px;
  max-height: 225px;
  display: inline-block;
}
#img4:hover {opacity: 0.7;}
#img5 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width:100%;
  max-width:300px;
  max-height: 225px;
  display: inline-block;
}
#img5:hover {opacity: 0.7;}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.9);
}
#img6 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  width:100%;
  max-width:300px;
  max-height: 225px;
  display: inline-block;
}
#img6:hover {opacity: 0.7;}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
/*Animation*/
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}
@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}